@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #026773, #3CA6A6, #012E40);
    background-size: 400% 400%;
    animation: animated-background 12s infinite ease-in-out;
}

@keyframes animated-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
 }

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #012E40;
    width: 600px;
    padding: 20px;
    margin: 100px auto;  
    height: 500px;     
    border: 2px solid black;
}

h1{   
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px#024959;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    text-align: center;
}

.container {
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px#024959;
    border: 1px solid black;
    padding: 20px;
    width: 280px;
    height: 120px;
    text-align: center;
    margin-top: 100px;
}

div .loginu{
    margin: 20px;
}

button {
    margin: 15px
}